/* Sticky footer styles
-------------------------------------------------- */

@import "variables";
@import "media-query";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 50px;
  margin-bottom: 60px;
  background-color: $background-color;
}

.footContainer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 8em;
  padding-top: 1em;
  background-color: $footer-background;
}

.messagesContainer {
  margin-top: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}
